.p {
  color: #e5e5e5;
}
.filter {
  position: absolute;
  height: 50px;
  width: 160px;
  border-radius: 5px;
  background-color: #313131 !important;
  border: none !important;
  /* left: 728px; */
}

.sort {
  position: absolute;
  height: 50px;
  width: 160px;
  border-radius: 5px;
  background-color: #313131 !important;
  border: none !important;
  /* left: 882px; */
}

#search {
  height: 50px;
}

.search {
  margin-top: 7%;
}

.main-container {
  display: flex;
}

.class-col {
  align-items: stretch;
  justify-content: center;
  height: 100%;
  margin-bottom: 1cm;
}

.card {
  border: none;
}

/* .card-img,
.card-img-bottom {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} */

/* .card-body,
.fieldName {
  background-color: #313131;
} */

.browseField {
  text-align: end;
}

.dropdown-item{
  color: #e5e5e5 !important;
}
.dropdown-item:hover{
  color: #222222 !important;
  background-color: #545454;
}