.modal-body {
  background-color: #222222;
}

.modal-content {
  margin: auto;
  border: none;
}

tr,
td {
  color: #f4f4f4;
}

.total {
  color: #53C9C2;
}

.modal-title {
  color: #f4f4f4;
  text-align: center;
}

p {
  color: #f4f4f4;
  text-align: justify;
}

.btn-primary {
  color: #222222;
  background-color: #53C9C2;
  border: none;
  height: 1.5cm;
  font-weight: bold;
}

input[type="file"] {
  margin: auto;;
  color: #53C9C2;
}
