
.Profile {
    margin-top: 6%;
}

.profil-picture {
    max-width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.fullname {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-top: 1cm;
}

.bio {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.button-profil {
    background-color: #545454;
    color: #53C9C2;
    align-items: center;
    width: 100%;
    height: 10%;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.book-history {
    border: 1px solid #7B7B7B;
    box-sizing: border-box;
    border-radius: 10px;
}

.h4-book-history {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    /* identical to box height */
    padding-left: 35px;
}

.history {
    background-color: #313131;
    max-width: 90%;
    max-height: 30%;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    border: 1px solid #FFCB74
}

.direction {
    border: none;
    width: 90%;
    margin: auto;
}

.comingupmatch, .givefeedback {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.comingupmatch {
    color:#FFCB74;
}

.givefeedback {
    color:#53C9C2;
    cursor: pointer;
}

.fielddate, .fieldname  {
    margin: auto;
    padding-bottom: 0.5%;
}