.ticketcode {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color:  #53C9C2;
/* identical to box height */
}

.table td, .table th {
    padding: .5rem;
    vertical-align: top;
}

th,
td {
    text-align: justify;
}

th {
    color: #53C9C2;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

td {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #E5E5E5;
}

.btn-primary {
    background-color: #53C9C2;
    width: 100%;
}